#boton {
    text-decoration: none;
    background-color: #000000;
    border-radius: 10px;
    color:#EEEBDD ;
    padding: 10px 20px;
    display: inline-block;
    margin: 15px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.3);

}
#boton:hover {

    background: rgb(27,10,50);
    background: linear-gradient(180deg, rgba(27,10,50,1) 0%, rgba(89,33,33,1) 100%);
    transition: 0.3s;
}
#html {
    display: inline;
}
#html i:hover {
    color: #000000;
    transition: 0.3s;
}
#css {
    display: inline;
}
#css i:hover {
    color: #000000;
    transition: 0.3s;
}
#javascript {
    display: inline;
}
#javascript i:hover {
    color: #000000;
    transition: 0.3s;
}

.iconos-redes {
    list-style: none;
    display: inline-block;
}
.iconos-redes i {
    font-size: 45px;
    color: #000000;
    padding: 0px 25px 35px 25px;
}
.iconos-redes i:hover {
    color: #0000005b;
    transition: 0.3s;
}
.fa-html5 {
    color: #F64A1D;
}
.fa-css3-alt {
    color: #6BA0CB;
}
.fa-js-square {
    color: #EFD81D;
}